# GLPI_DB_USERNAME=user_carlos
# GLPI_DB_PASSWORD=password
# GLPI_DB_NAME=siagie_glpi
# GLPI_DB_HOST=10.200.8.21
# GLPI_DB_PORT=3306
# GLPI_DB_CONNECTION_TIMEOUT=100000
# 
# PORT=4202
# 
# GLPI_APP_URL=https://glpidemo.minedu.gob.pe/apirest.php
# GLPI_APP_TOKEN=AM3iQHOhxDwI3Q1rUDCXfdJiUIyGdkupH8r8USoM
# GLPI_API_TOKEN=jWy6vXfpNUc81l98ydSHnGZVog2FnPsvBgOTki0a

GLPI_DB_USERNAME=user_carlos
GLPI_DB_PASSWORD=password
GLPI_DB_NAME=siagie_glpi
GLPI_DB_HOST=10.200.8.21
GLPI_DB_PORT=3306
GLPI_DB_CONNECTION_TIMEOUT=100000

SWAGGER_API_URL=http://localhost:19211/documentation

# Parámetros del throttler
THROTTLER_MAX_SECONDS=60
THROTTLER_MAX_CONSULTS=1000

PORT=19211

MSA_UTILITARIO_URL=http://10.200.8.160:19205/api/v1/glpi

GLPI_APP_URL=https://glpidemo.minedu.gob.pe/apirest.php
GLPI_APP_TOKEN=JUBDq9f6dGr6CO3FITAFXfHeTRfOMgGS8rbD51Kh
GLPI_API_TOKEN=EzlEJ9yCbUL32yGNVhlgE3JLnioDTYKXcBgm6VIf
PLUGIN_FIELDS_CONTAINER_ID=2